 @font-face  {
	font-family: "Deutsch Gothic";
	src: url('Deutsch_Gothic.ttf') format('truetype');
	font-weight: bold;
    font-style: normal;
}

 *, 
 *::before,
 *::after  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden; 
}

body {
    /* font-family: Tahoma, sans-serif; */
    font-family: 'Deutsch Gothic', decorative;
    background-color: transparent;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    /* font-weight: lighter; */
    padding-top: 2.2rem; 
	background: repeating-linear-gradient(-50deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, #23A6D5, #23D5AB, #EE7752, #E73C7E, aqua, aquamarine, lightcyan, magenta, yellowgreen, salmon, transparent);
    background-size: 1200% 1200%; 
	-webkit-animation: Gradient 30s ease-in-out infinite;
	-moz-animation: Gradient 30s ease-in-out infinite;
	animation: Gradient 30s ease-in-out infinite; 
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.container {
    width: 100%;
    width: 400px;
    align-items: center;
    vertical-align: center;
    opacity: 98%;
    border: transparent;
}

.display {
    height: 100px;
    width: 100%;
    max-width: 400px;
    text-align: right;
    padding: 10px 10px 10px 10px;
    font-size: 28px;
    color: cyan;
    font-weight: bolder;
    background-color: rgba(117, 190, 218, 0.4);
	outline: none;
	align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    border: 3px double cyan;
	border-radius: 5px;
    /* filter: hue-rotate(270deg); */

}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(4, 100px);
    justify-content: center;
    align-content: center;
    text-align: center;  
    transition: all 1s ease ease-in-out;
}

/* 
.button {
    color: aqua;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    border: 1px dotted cyan;
	border-radius: 6px;
	background: radial-gradient( #3a99be8f, rgb(68, 68, 68));
    padding: 0.25rem 0;
   
} */

.button {
    font-family: 'Deutsch Gothic', decorative;
    color: aqua;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    border: 1px dotted cyan;
	border-radius: 6px;
	background: radial-gradient( #3a99be8f, rgb(68, 68, 68));
    padding: 0.25rem 0;
}


.button:hover {
background-color: transparent;
border: 3px double cyan;
color: lightcyan;
filter: hue-rotate(110deg);
outline: none;
}


.button:visited {
outline: none;
text-decoration: none;
border: none;
}

.button:active {
outline: none;
text-decoration: none;
border: none;
}

.button:focus {
outline: none;
text-decoration: none;
color: lightcyan;
filter: hue-rotate(110deg);
border: 3px double cyan;
}

.clear {
border: 1px dotted cyan;
color: aqua;
}

.clear:hover {
background: #03e9f4;
border: 3px double cyan;
color: mediumorchid;
filter: hue-rotate(0deg);
box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
			0 0 200px #03e9f4;
			-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}  

.clear:focus {
border: 3px double cyan;

}

.clear:visited {
border: 3px double cyan;
color: mediumorchid;
}  

/* .clear:focus {
background: #03e9f4;
border: 3px double cyan;
color: mediumorchid;
filter: hue-rotate(0deg);
box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
			0 0 200px #03e9f4;
			-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}   */



/* .clear:active {
border: 3px double cyan;
color: #03e9f4;
background: mediumorchid;
filter: hue-rotate(0deg);
box-shadow: 0 0 5px mediumorchid, 0 0 25px mediumorchid, 0 0 50px mediumorchid,
			0 0 200px mediumorchid;
			-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}   */

